<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/surveystyle.css" media="screen" />
	</head>
    <script type="text/javascript">
        document.getElementById("continue").onclick = function () {
            location.href = "survey.ejs";
        };
    </script>

	<body>
        <h2>Welcome to the Risk Profiler</h2><br>
        <h4>To use melanoma risk prediction, you must agree to the 
            following terms conditions and carefully 
            review the introduction about melanoma.
        </h4>
        <button id="continue" class="float-left submit-button" >continue</button>
	</body>
</html>